// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  #container{
 	height: 700px;
  }

  .topbox{
  display: inline-block;
  margin: 20px 20px 20px 20px;
  width: 200px;
  height: 350px;
  text-align: left;
  background: rgba(255,255,255,0.95);
  border-radius: 20px;
  }
