// Place all the styles related to the users::stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  #font_red{
  color: red;
  }

  #tabletitle{
  background-color: #ffffe0;
  border-bottom:groove 1px #ffbf7f;
  padding: 5px 10px 5px 10px;
  width: 120px;
  }

  #tabletext{
  border-bottom:groove 1px #ffbf7f;
  padding: 5px 10px 5px 10px;
  width: 480px;

  }